<div class="mx-auto max-w-[1200px] p-3">
    <app-btn-indietro [andareVerso]="'/dashboard/homepage'">Ritorna alla Homepage</app-btn-indietro>

    <div cardDashboard class="items-center">
        <div class="border-b-1 border-gray-300 p-2 grid grid-cols-1 md:grid-cols-3 items-center">
            <div class="flex md:justify-center mb-3">
                <h2 class="font-extrabold text-xl text-blue-900">Lista Utenti Completa</h2>
            </div>
            <div class="flex md:justify-center mb-3">
                <input type="text" matInput [formControl]="barraDiRicerca" (keyup.enter)="onRicercaClick()"
                    placeholder="Filtra per nome / email"
                    class="border border-gray-300 rounded-lg p-2 focus:ring-blue-200 w-full">
                    <button matIconButton (click)="onRicercaClick()" [disabled]="barraDiRicerca.invalid">
                        <mat-icon>search</mat-icon>
                    </button>
                @if (erroreRicerca()) {
                <div class="flex md:justify-center items-center flex-col mb-3">
                    <p class="text-red-500 text-xs rounded-lg bg-red-100 flex items-center justify-center p-2 mt-2 w-40">
                        Ricerca non Valida</p>
                </div>
                }
            </div>
            <div class="flex md:justify-center mb-3">
                <button matButton="text" class="w-40" (click)="apriDialogAggiungiUtente()">+ Aggiungi Utente</button>
            </div>
        </div>
        <div class="flex items-center justify-center gap-5 mb-5">
            @if(utentiStore.caricamento()) {
            <p class="text-xl text-bold text-blue-900 m-5">Caricamento Dati</p>
            <mat-spinner class="!h-10 !w-10"></mat-spinner>
            } @else if (utentiStore.errore()) {
            <p class="text-xl text-bold text-blue-900 m-5">Ops! {{utentiStore.errore()}}</p>
            } @else if(utentiStore.utenti() && utentiStore.utenti()?.length === 0) {
                <p class="text-xl text-bold text-blue-900 m-5">Mi dispiace! La ricerca non ha dato nessun riscontro, 0 Utenti trovati.</p>
            }
        </div>

        @for (utente of utentiStore.utenti(); track utente.id) {
        <app-item-lista-utenti [utente]="utente" />
        }

        <div class="border-t-1 border-gray-300 p-2 grid grid-cols-1 md:grid-cols-2 items-center">

            <div class="flex items-center gap-2 justify-center">
                <span class="text-blue-900">Utenti per Pagina</span>
                <select [value]="itemXPagina()" (change)="cambioItemPagina($event)"
                    class="p-2 border border-gray-300 rounded-lg hover:border-blue-400">
                    @for (n of opzioniItemPagina(); track n) {
                    <option [value]="n">{{n}}</option>
                    }
                </select>
            </div>

            <div class="flex justify center">
                @if (utentiStore.paginaCorrente() !== 1) {
                <button matButton="text" class="!bg-blue-100 mt-2"
                    (click)="utentiStore.andareAPagina(utentiStore.paginaPrecedente())">
                    <mat-icon matPrefix>arrow_back_ios</mat-icon>
                    Indietro
                </button>
                <button matButton="text" class="!bg-blue-100 mt-2"
                    (click)="utentiStore.andareAPagina(utentiStore.paginaPrecedente())">{{utentiStore.paginaPrecedente()}}</button>
                }

                <button matButton="text"
                    class="!bg-blue-100 mt-2 !font-extrabold !text-xl">{{utentiStore.paginaCorrente()}}</button>
                <button matButton="text" class="!bg-blue-100 mt-2"
                    (click)="utentiStore.andareAPagina(utentiStore.paginaSuccessiva())">{{utentiStore.paginaSuccessiva()}}</button>
                <button matButton="text" class="!bg-blue-100 mt-2"
                    (click)="utentiStore.andareAPagina(utentiStore.paginaSuccessiva())">
                    Avanti
                    <mat-icon matSuffix>arrow_forward_ios</mat-icon>
                </button>
            </div>

        </div>
    </div>
</div>